# Flask Configuration
SECRET_KEY=your-secret-key
FLASK_ENV=production
FLASK_DEBUG=0

# Demo User (for unauthenticated mode)
DEMO_USERNAME=demo

# Database Configuration
DATABASE_URL=postgresql://user:password@host:port/database

# Database Setup Variables (only for Postgres service initialization)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pictotree

# Email Settings
MAIL_USERNAME=your-mail-username
MAIL_PASSWORD=your-mail-password
MAIL_DEFAULT_SENDER=contact@pictotree.eu

# ReCaptcha Settings
RECAPTCHA_PUBLIC_KEY=your-recaptcha-public-key
RECAPTCHA_PRIVATE_KEY=your-recaptcha-private-key
